/* ------ general
-----------------------------------------------*/


/* ------ mobilyselect
-----------------------------------------------*/

#content {
width:600px;
margin:100px auto 0;
}

.selecterBtns {
float:left;
width:600px;
margin-bottom:25px;
}

.selecterBtns a {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#EDEDED;
color:#111;
display:block;
float:left;
font-size:11px;
line-height:28px;
margin-right:4px;
outline:none;
padding:0 15px;
text-decoration:none;
}

.selecterBtns .active,
.selecterBtns a:hover {
background:#111;
color:#fff;
}

.selecterContent {
float:left;
width:600px;
clear:both;
}

.selecterContent a {
outline:none;
}

.selecterContent li {
width:140px;
height:120px;
overflow:hidden;
}

ul.nolist,
ul.nolist li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.nolist li {
float:left;
margin:0 5px 5px 0;	
}

a {
color:#fff;
}

a img {
border:none;
}

